ENV=dev
PORT=5002

JWT_SECRET=secret

DB_URI=root:q1w2e3@tcp(127.0.0.1:3340)/hubjob?parseTime=true&multiStatements=true
DB_PORT=3340
DB_DATABASE=hubjob
DB_USERNAME=root
DB_PASSWORD=q1w2e3

SENDGRID_API_KEY=
SENDGRID_SENDER=
SENDGRID_EMAIL_DEV=

S3_BUCKET_NAME=
S3_BUCKET_REGION=
S3_ACCESS_KEY=
S3_SECRET_ACCESS_KEY=

REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_SESSION_DATABASE=0

GCP_CREDENTIALS_FILE=gcp-credentials.json
